ZhongYi.WuSe.WebApi/ZhongYi.WuSe.WebApi.Api/Logs/ALL/Logs_Info_20141020.txt
ZhongYi.WuSe.WebApi/ZhongYi.WuSe.WebApi.Api/Logs/Android/Logs_Error_20141020.txt
ZhongYi.WuSe.WebApi/ZhongYi.WuSe.WebApi.Api/Logs/ERROR/Logs_Error_20141020.txt
ZhongYi.WuSe.WebApi/ZhongYi.WuSe.WebApi.Api/Logs/INFO/Logs_INFO_20141020.txt